define host{
use                             linux-server
host_name                       test1
alias                           CentOS 6
address                         test1
} 

define service{                     
                                
    use                     generic-service
    host_name               test1
    service_description     NTP
    check_command           check_nrpe!check_ntp                          
    max_check_attempts              4
    check_interval                  5
    retry_interval                  1
}
